@{
    ViewData["Title"] = "Report";
}
<h1>@ViewData["Title"]</h1>
@model RoadCalcul.Models.ReportModel
<p>this page display all the search querry executed</p>

@using (Html.BeginForm("EditSearchAction", "Home", FormMethod.Post))
{
    <table width="50%">
        <tr>
            <td>
                Time
            </td>
            <td>
                Querry
            </td>

        </tr>
        @foreach (var item in Model.SearchHistoriques)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Querry)
                </td>
                <td>
                    @*<a asp-controller="Home" asp-action="EditSearch" asp-route-id="@item.ID">Edit</a>*@
                    <button name="ReportButon" type="submit" value="@item.ID">Edit</button>
                </td>
            </tr>
        }
    </table>
}
